/* nabar

.nav{
  width: 2000px;
  height: 100px;
  display: flex;
  flex-direction: row;
}
.logo{
  align-items: center;
}
.logo img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.platform{
  align-items: center;
  display: flex;
  align-items:center ;

}
.platform img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}
.black{
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;

}
.white{
  background-color: white;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
} */

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; 
}

.nav, .footer {
  /* background-color: #222; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  width: 1505px;
  height: 100px;
}

.platform img, .footer-icons img {
  width: 40px;
  margin-left: 20px;
  /* filter: invert(1);  */
  
}


.hero {
  display: flex;
  padding: 5%;
  gap: 40px;
  align-items: center;
}

.hero-image { width: 50%; }
.hero-content { width: 50%; }


.product-row {
  display: flex;
  min-height: 400px;
}


.product-row:nth-child(even) {
  flex-direction: row-reverse;
}

.product-text {
  flex: 1;
  background-color: #222;
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-img-container {
  flex: 1;
}

.product-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abtSecHero{
  display: flex;
}

.logo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
.AbtSecHero{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
